.bottom-menu {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.business-list {
  max-height: 300px;
  overflow-y: auto;
}

.business-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.business-item h5 {
  margin: 0;
}

.business-item p {
  margin: 0;
  color: #555;
}
